html {
    background-image: url(images/2-square-tile.gif);        
        background-color: rgb(151, 151, 151);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
}

.wrapper {
    background-color: rgba(250, 196, 61, 0.95);
    border: 5px solid rgb(230, 154, 47);
    max-width: 1000px;
    margin: 0px auto;
    padding: 10px;
}

body {
    background-image: url(Images/2-square-tile.gif);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center top;
    margin: 0;
    padding: 0;
}
