html {
    background-color: rgb(250, 241, 218);
}

header {
    background-image: url(images/3-fruit.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
}

header h1 {
    background-color: rgba(255, 255, 255, 0.3);
        border-top: 10px solid rgb(151, 6, 6);
        text-align: center;
        margin: 0;
        padding: 0px;
}

main {
    padding: 10px;
}

aside {
    padding: 15px 10px;
}

.wrapper {
    background-color: rgb(255, 255, 255);
        margin: 0 auto;
        max-width: 1000px;
}